################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyOwnDSMShortcuts/bin/Debug/Resources/recovery
*.suo
*.user
_ReSharper.*
bin
obj
packages
/.vs/Mods/v15/Server/sqlite3
/Installer/Installer/Express/SingleImage/DiskImages/DISK1
/Installer/Installer/Express/SingleImage/LogFiles
/Installer/Installer/Express/SingleImage/Reports
