<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatificaBytes.Synology.Mods.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatificaBytes.Synology.Mods.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <BeatificaBytes.Synology.Mods.Properties.Settings>
            <setting name="Synology" serializeAs="String">
                <value>&lt;Synology&gt;</value>
            </setting>
        </BeatificaBytes.Synology.Mods.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BeatificaBytes.Synology.Mods.Properties.Settings>
            <setting name="Protocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Packages" serializeAs="String">
                <value />
            </setting>
            <setting name="PackageRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceImages" serializeAs="String">
                <value />
            </setting>
            <setting name="Computer" serializeAs="String">
                <value />
            </setting>
        </BeatificaBytes.Synology.Mods.Properties.Settings>
    </userSettings>
</configuration>